* {
    background-color: black;
    margin: 0px;
}
body {
    background-color: #009247; /* tukar */
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    background: #f0f8f1;
    width: 160px;
    height: 140px;
    border-radius: 70px 0px;
    margin-left: 60px;
    box-shadow: -80px 0 #f0f8f1;
    border: solid 20px #009247;

    
}
